<div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <ul class="list-inline social mb-0">
                        <li class="list-inline-item">
                            <a href="/" class="social-icon text-muted">
                                <img src="../assets/images/icon/fb.png" alt="" style="height: 1em;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/" class="social-icon text-muted">
                                <img src="../assets/images/icon/ig.png" alt="" style="height: 1em;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/" class="social-icon text-muted">
                                <img src="../assets/images/icon/in.png" alt="" style="height: 1em;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/" class="social-icon text-muted">
                                <img src="../assets/images/icon/twitter.png" alt="" style="height: 1em;">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="terms-footer">
                    <ul class="mb-0 list-inline text-center mt-4 pt-2">
                        <div>
                            <li class="list-inline-item">
                                <a href="https://tusharghone.com/term-and-condition" target="_blank" style="color: #6c757d;"><span>Terms & Condition</span></a>
                            </li>
                        </div>
                        <div>
                            <li class="list-inline-item">
                                <a href="https://tusharghone.com/privacy-policy" target="_blank" style="color: #6c757d;"><span>Privacy Policy</span></a>
                            </li>
                        </div>
                        <div>
                            <li class="list-inline-item">
                                <a href="https://api.whatsapp.com/send/?phone=%2B919152615121&text&type=phone_number&app_absent=0" target="_blank" style="color: #6c757d;"><span>Contact Us</span></a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="mt-4 pt-2 text-center"><p class="copy-rights mb-0" style="color: #6c757d;">2023 © Money Making Trading course</p></div>
            </div>
        </div>
    </div>
</div>