<div class="container-fluid" id="course">
    <div class="row justify-text-center text-center">
        <div class="col-lg-12">
            <div class="course-heading">
                <span class="header">Class</span>
            </div>
              <div class="large-txt">Why online learning?</div>
              <p class="title-subtitle mt-3 mx-auto">
                There are many things you can only get if you join online learning that
                you will not get in ordinary learning
              </p>
        </div>
    </div>
    <div class="row mt-5 custom-slider-main">
        <div class="col-md-4 mb-4 ">
            <div class="course-box">
                <div class="img">
                    <img src="../assets/images/img/course-1.png" alt="" >
                </div>
                <div class="mt-3" style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="tag">DESIGN</div>
                    <div class="text-white">
                        <span class="yllw-text">₹ 320</span>
                        <span class="pack">/ pack</span>
                    </div>
                </div>
                <div class="course-name mt-4">
                    <span style="color: #D6DADE; font-size: 15px; font-weight: 600;">Create UI Design</span>
                </div>
                <div class="mt-2">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <img src="../assets/images/icon/person-icon.png" alt="" class="icon">
                            <span style="font-size: 11px; color: #6B6C75;">1973 Joined</span>
                        
                        </div>
                        <div style="display: flex; align-items: center;">
                            <img src="../assets/images/icon/play-icon.png" style="height: 10px; margin-right: 5px;">
                            <span style="font-size: 11px; color: #6B6C75;">73 Videos</span>
                        </div>
                    </div>
                    
                        
                </div>
                
            </div>
            <div class="course-footer">
                <div class="footer-text text-white">
                    <a href="https://user.tusharghone.com/course-detail?name=money-making-trading-course" target="_blank">SEE DETAILS</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 mb-4">
            <div class="course-box">
                <div class="img">
                    <img src="../assets/images/img/course-2.png" alt="" >
                </div>
                <div class="mt-3" style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="tag">DESIGN</div>
                    <div class="text-white">
                        <span class="yllw-text">₹ 320</span>
                        <span class="pack">/ pack</span>
                    </div>
                </div>
                <div class="course-name mt-4">
                    <span style="color: #D6DADE; font-size: 15px; font-weight: 600;">Create UI Design</span>
                </div>
                <div class="mt-2">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <img src="../assets/images/icon/person-icon.png" alt="" class="icon">
                            <span style="font-size: 11px; color: #6B6C75;">1973 Joined</span>
                        
                        </div>
                        <div style="display: flex; align-items: center;">
                            <img src="../assets/images/icon/play-icon.png" style="height: 10px; margin-right: 5px;">
                            <span style="font-size: 11px; color: #6B6C75;">73 Videos</span>
                        </div>
                    </div>
                    
                        
                </div>
                
            </div>
            <div class="course-footer">
                <div class="footer-text text-white">
                    <a href="https://user.tusharghone.com/course-detail?name=money-making-trading-course" target="_blank">SEE DETAILS</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 mb-4">
            <div class="course-box">
                <div class="img">
                    <img src="../assets/images/img/course-3.png" alt="" >
                </div>
                <div class="mt-3" style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="tag">DESIGN</div>
                    <div class="text-white">
                        <span class="yllw-text">₹ 320</span>
                        <span class="pack">/ pack</span>
                    </div>
                </div>
                <div class="course-name mt-4">
                    <span style="color: #D6DADE; font-size: 15px; font-weight: 600;">Create UI Design</span>
                </div>
                <div class="mt-2">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <img src="../assets/images/icon/person-icon.png" alt="" class="icon">
                            <span style="font-size: 11px; color: #6B6C75;">1973 Joined</span>
                        
                        </div>
                        <div style="display: flex; align-items: center;">
                            <img src="../assets/images/icon/play-icon.png" style="height: 10px; margin-right: 5px;">
                            <span style="font-size: 11px; color: #6B6C75;">73 Videos</span>
                        </div>
                    </div>
                    
                        
                </div>
                
            </div>
            <div class="course-footer">
                <div class="footer-text text-white">
                    <a href="https://user.tusharghone.com/course-detail?name=money-making-trading-course" target="_blank">SEE DETAILS</a>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>