<section class="section service-container" id="services">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
        <!-- <i class="ti-ruler-pencil title-icon text-muted"></i> -->
        <div class="services-heading">
          <span>Services</span>
        </div>
        <div class="large-txt" style="justify-content: center;">Why Choose Us?</div>
        <p class="text-muted mt-3 title-subtitle mx-auto" style="color: #F1F1F1 !important;">
          There are many things you can only get if you join online learning that 
          you will not get in ordinary learning.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="srvc-box">
          <div class="srvc-icon mt-3">
            <img src="../assets/images/img/img_1.png" alt="" style="height: 4.5em;">
          </div>
          <div class="mt-4">
            <h5 class="srvc-title fw-bold mt-4 mb-4">Learn Indepth Concepts</h5>
            <div class="srvc-desc mb-2"> Learn in-depth concepts 
              from basics to advance. You will learn to analyse the stock market and 
              trade independently.
            </div>
            <div  class="srvc-footer">
              <a  href="http://user.tusharghone.com/" target="_blank"> Start Now </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="srvc-box">
          <div class="srvc-icon mt-3">
            <img src="../assets/images/img/img_2.png" alt="" style="height: 4.5em;">
          </div>
          <div class="mt-4">
            <h5 class="srvc-title fw-bold mt-4 mb-4">Live Weekly Sessions</h5>
            <div class="srvc-desc mb-2"> As a course student or member 
              of our gold-silver plan you will get live sessions with an expert 
              trader and learn new trading concepts.
            </div>
            <div  class="srvc-footer">
              <a  href="http://user.tusharghone.com/" target="_blank"> Start Now </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="srvc-box">
          <div class="srvc-icon mt-3">
            <img src="../assets/images/img/img_3.png" alt="" style="height: 4.5em;">
          </div>
          <div class="mt-4">
            <h5 class="srvc-title fw-bold mt-4 mb-4">Free Scanners</h5>
            <div class="srvc-desc mb-2"> Scanner are a boon for traders. 
              You get scanners with our course which will help you to 
              trade even in your busy schedule.
            </div>
            <div  class="srvc-footer">
              <a  href="http://user.tusharghone.com/" target="_blank"> Start Now </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="srvc-box">
          <div class="srvc-icon mt-3">
            <img src="../assets/images/img/img_4.png" alt="" style="height: 4.5em;">
          </div>
          <div class="mt-4">
            <h5 class="srvc-title fw-bold mt-4 mb-4">Quick After Every Chapter</h5>
            <div class="srvc-desc mb-2"> You get a quiz after every 
              chapter to know your capacity of understanding.nWe help you revise what you 
              have learn so far.
            </div>
            <div  class="srvc-footer">
              <a  href="http://user.tusharghone.com/" target="_blank"> Browse Course </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="srvc-box">
          <div class="srvc-icon mt-3">
            <img src="../assets/images/img/img_5.png" alt="" style="height: 4.5em;">
          </div>
          <div class="mt-4">
            <h5 class="srvc-title fw-bold mt-4 mb-4">Study Material</h5>
            <div class="srvc-desc mb-2"> YOu will get a study material through which you 
              can revise what you have learnt anytime anywhere without any net connection.
            </div>
            <div  class="srvc-footer">
              <a  href="http://user.tusharghone.com/" target="_blank"> Browse Course </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="srvc-box">
          <div class="srvc-icon mt-3">
            <img src="../assets/images/img/img_6.png" alt="" style="height: 4.5em;">
          </div>
          <div class="mt-4">
            <h5 class="srvc-title fw-bold mt-4 mb-4">Trade Analysis</h5>
            <div class="srvc-desc mb-2"> We also provide trade analysis 
              for educational purpose on our telegram channel you can watch it and 
              understand our basis of trade.
            </div>
            <div  class="srvc-footer">
              <a  href="http://user.tusharghone.com/" target="_blank"> Browse Course </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
