<body class="instructor" id="instructor">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6                                                                                                                             mt-2">
                <div>
                    <img src="../assets/images/img/tushar-gone.png" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6  mt-5">
                <div class="mt-5 ms-4">
                    <p class="text-instructor">Know Your instructor</p>
                    <p class="mt-4 text-white"> Tushar Ghone is an <span class="ylw-txt">equity research
                            analyst</span> who is registered with
                        the <span class="ylw-txt">Securities and Exchange Board of India
                            (SEBI)</span> and is also certified by the <span class="ylw-txt">National Institute of
                            Securities Markets (NISM).</span><br><br> He has a Bachelor's Degree in Mechanical
                        Engineering from VJTI Mumbai, and a Post Graduation Diploma in Financial Management from MIT,
                        Pune. He has done <span class="ylw-txt">1000 Plus Seminars,</span> Webinars
                        and Practice Sessions on Online and Offline Platforms. </p><span class="name"> Tushar Ghone
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>