<body class="container-fluid" id="home">
    <div class="row">
        <div class="col-lg-5 col-sm-12" id="main">
            <div style="color: rgba(223, 112, 104, 1); font-size: 16px; font-weight: 700;">A Trusted Online Course</div>
            <div class="stock">Learn to trade in Stock Market</div>
            <div class="guide">Complete Stock Market Guide</div>
            <p class="mt-5 mb-0" >We aim at providing the in-depth
                knowledge of stock market in the simplest way possible.</p>
            <div class="mt-4">
                <button><a href="https://course.tusharghone.com/">Enroll Now</a></button>
            </div>
            <div class="mt-5">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <div>
                        <div class="subscriber"> 1000+ </div>
                        <div class="views"> No of Reviews </div>
                    </div>
                    <div style="width: 1px; height: 58px; background: #FFFFFF;"></div>
                    <div>
                        <div class="subscriber"> 18+ </div>
                        <div class="views"> Total Course </div>
                    </div>
                    <div style="width: 1px; height: 58px; background: #FFFFFF;"></div>
                    <div>
                        <div class="subscriber"> 120k </div>
                        <div class="views"> Dedicated learner </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12" style="padding-bottom: 20px;">
            <img src="../assets/images/img/bulls.png" alt="bulls-img" 
                 class="">
        </div>
        
    </div>
</body>