<section id="how-to-apply" class="section how-to-apply-container">
    <div class="container">
        <div class="row mt-5 vertical-content">
            <div class="col-lg-5 offset-lg-1 mt-2">
                <div class="features-desc">
                    <div class="information" style="color: #DF7068;">INFORMATION</div>
                    <div class="how-to-apply-text">How to apply?</div>
                    <div class="mt-4">
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;">
                                <img src="../assets/images/logo/download-logo.png" alt="" style="height: 3.5em;">
                            </div>
                            <div>
                                <div class="medium-txt">Download & Read Broucher</div>
                                <div class="small-txt"> Download our Brochure , Read it carefully.
                                    <span  class="ylw-txt">All the answers to your questions</span> 
                                    are provided in the brochure. 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;">
                                <img src="../assets/images/logo/add-contact-logo.png" alt="" style="height: 3.5em;">
                            </div>
                            <div>
                                <div class="medium-txt">Register & Enrollment</div>
                                <div class="small-txt"> <span  class="ylw-txt">Complete the registration</span> 
                                    All the answers to your questions
                                    are provided in the brochure. 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;">
                                <img src="../assets/images/logo/tick-logo.png" alt="" style="height: 3.5em;">
                            </div>
                            <div>
                                <div class="medium-txt">Confirmation</div>
                                <div class="small-txt">Send the screenshot of successful payment on 
                                    WhatsApp <span class="ylw-txt">(+91-8130245100). </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div style="display: flex; align-items: center; margin-bottom: 1em;">
                            <div style="margin-right: 1em;">
                                <img src="../assets/images/logo/verification-logo.png" alt="" style="height: 3.5em;">
                            </div>
                            <div>
                                <div class="medium-txt">Verification</div>
                                <div class="small-txt"> As soon as your payment is verified, you will 
                                    <span class="ylw-txt">receive details of your assigned Relationship Manager.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <div>
                    <img src="../assets/images/img/apply-img.png" alt="" class="img-fluid mx-auto apply-img">
                </div>
            </div>
        </div>
    </div>
</section>